<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_title }}{% if meta.title %} | {{ meta.title }} {% endif %}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}
    {% block headerscripts %}
        <link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/styles.css">
        {# <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script> #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    {% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    <div id="alpha-warning" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head" style="justify-content: center;">
                <div class="has-text-centered">
                    <img src="{{theme_url}}/img/tooloop-signet.svg" height="112" width="260" />
                    <h2 class="subtitle">Open media server framework</h2>
                </div>
            </header>
            <section class="modal-card-body" style="padding: 2rem;">
                
                <div class="content">
                    <p><i class="fa fa-exclamation-triangle has-text-grey"></i> <strong class="has-text-danger">The project is in alpha phase.</strong></p>

                    <p>It is not feature complete and there might be bugs and hickups. The manual and developer docs aren’t complete and might be wrong or out of date.</p>

                    <p>It is already usable, though. In fact I am using it exclusivly for all my clients projects for a while now and you are warmly invited to give it a go and contribute.</p>

                    <p><strong>Just, please be careful – will you?</strong></p>
                </div>
            </section>
            <footer class="modal-card-foot" style="justify-content: center;">
                <a href="#" class="button is-danger">Got It!</a>
            </footer>
        </div>
    </div>

    {% include 'footer.twig' %}

    {% block footerscripts %}
        <script type="text/javascript">
            // -----------------------------------------------------------------
            // functions
            // -----------------------------------------------------------------
            function getAll(selector) {
                return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
            }

            function changeImage(id, src) {
                document.getElementById(id).src=src;
            }

            // -----------------------------------------------------------------
            // modals
            // -----------------------------------------------------------------
            var rootEl = document.documentElement;
            var modals = getAll('.modal');
            var modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

            if (modalCloses.length > 0) {
                modalCloses.forEach(function (el) {
                    el.addEventListener('click', function () {
                        closeModals();
                    });
                });
            }

            document.addEventListener('keydown', function (event) {
                var e = event || window.event;
                if (e.keyCode === 27) {
                    closeModals();
                    // closeDropdowns();
                }
            });

            function openModal(id) {
                var target = document.getElementById(id);
                rootEl.classList.add('is-clipped');
                target.classList.add('is-active');
            }

            function closeModals() {
                rootEl.classList.remove('is-clipped');
                modals.forEach(function (el) {
                    el.classList.remove('is-active');
                    // remove embedded videos
                    var videoWrapper = el.querySelector('.videoWrapper');
                    if (videoWrapper) { videoWrapper.innerHTML = ""; }
                });
            }

            // -----------------------------------------------------------------
            // alpha warning
            // -----------------------------------------------------------------
            if (!document.referrer.includes("{{base_url}}")) {
                openModal('alpha-warning');
            }


        </script>
    {% endblock %}

</body>
</html>